ListenAddress = ":8080"
FrontendPath = "frontend/dist"

[[Ports]]
	Name = "Cam Inside"
	CameraMAC = "aa:bb:cc:dd:ee:ff" # Optional: If provided, SwitchMAC and SwitchPort will be discovered
	SwitchMAC = "00:11:22:33:44:55"
	SwitchPort = 0